rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    
    // Unlock the Global Temporary Faces Buffer for Flixsynth
    match /tmp-faces/{uid}/{fileName} {
      allow read, write: if request.auth != null && request.auth.uid == uid;
    }

    // Unlock the User Assets Partition (Including all AI generated outputs)
    match /user_assets/{uid}/{allPaths=**} {
      allow read, write: if request.auth != null && request.auth.uid == uid;
    }
  }
}
